@import '../../config.scss';

.main__container {
  width: $main-content-width;
  padding-top: $header-height + $m-10;
  margin-left: ((100% - 80%) / 2);  // 80% = $main-content-width
  .title {
    width: 30%;
    margin: $m-4 0;
  }
  ul {
    margin: 0;
  }
}