@import '../../config.scss';

.container {
  width: 100%;
  height: $header-height;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  @media (max-width: ($sp)) {
    height: $header-height-sp;
  }
  @media (min-width: ($pc)) {
  }
  >a{
    display: inline-block;
    height: 40%;
    margin-left: $m-6;
    @media (max-width: ($sp)) {
      margin-left: $m-2;
    }
    img {
      height: 100%;
    }
  }
  ul {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    list-style: none;
    position: relative;
    // ! (スマホ)のとき
    @media not all and (max-width: ($sp)) {
      transform-origin: top right;  // 右中心で
      transform: rotateZ(-90deg) translateY(calc(-#{$m-10} - #{$m-5})) translateX(-$m-3);  // 回転させる
    }
    @media (max-width: ($sp)) {
      margin-right: $m-2;
    }
    li {
      display: inline-block;
      text-align: center;
      margin: 0 $m-2;
      // width: 20%;  文字の長さ関係なく幅固定になる
      @media (max-width: ($sp)) {
        margin: 0 $m-1;
        font-size: small;
      }
      img {
        display: inline-block;
        width: 30px;
        height: 30px;
      }
      a {
        display: inline-block;
        width: 100%;
        text-decoration: none;
        color: $base-f-col;
      }
    }

    // メニューのスライドする下線
    .slide_line {
      position: absolute;
      bottom: 28px;
      height: 2px;
      background-color: #000;
      transition: all 0.8s $easeInOutQuint;
    }
  }
}