@import '../../config.scss';

.container {
  width: 100%;
  height: $header-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  @media (max-width: ($sp)) {
    height: $header-height-sp;
  }
  @media (min-width: ($pc)) {
  }
  img {
    margin-left: $m-6;
    height: 40%;
    @media (max-width: ($sp)) {
      margin-left: $m-2;
    }
  }
  ul {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    list-style: none;
    li {
      text-align: center;
      margin: 0 $m-2;
      @media (max-width: ($sp)) {
        margin: 0 $m-1;
        font-size: small;
      }
      a {
        text-decoration: none;
        color: $base-f-col;
      }
    }
  }
}