@import '../../foundation/variables';

$paddingVertical: 70px;

.container {
  width: 33%;
  height: 100%;
  min-width: 300px;
  margin: 0;  // 上下のマージン
  padding: $paddingVertical 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  // 右の線はafterで引く
  &::after {
    content: "";
    position: absolute;
    top: $paddingVertical;
    right: 0;
    height: calc(100% - #{$paddingVertical} * 2);  // 上下のパディング分を引く
    border-right: 1px solid rgba(100, 100, 100, 0.5);
  }
}