@import '../../foundation/variables';

$paddingVertical: 70px;

@mixin containerWidth {
  width: 33%;
  min-width: $tab / 3;

  &.close {
    width: 0;
    min-width: 0;
  }
}

.container {
  @include containerWidth();
  height: 100%;
  padding: $paddingVertical 50px;
  background-color: #fff;
  box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.15);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  transition: all 1s $easeOutQuint;

  // overflow-xするために一枚噛ませるコンテナ
  .hide_content {
    width: 100%;
    height: 100%;

    // titleList と aboutLink の縦並び を flexレイアウト
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    // 幅縮んだときに鳶出さないように
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &.close {
    padding: $paddingVertical 0;
  }
}

.bgWhite {
  // 幅は親と同じにしておく = アニメーションの見栄えが良い
  @include containerWidth();
  height: 100%;
  background-color: #fff;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  transition: all 1s $easeOutQuint;
}

// 閉じる開くボタン（コンテナ）
.open_close__btn {
  width: 30px;
  height: 80px;
  background-color: #fff;
  border: none;
  border-radius: 0 8px 8px 0;
  position: absolute;
  right: -28px;  // ちょい埋まり
  z-index: 100;

  // 実体
  &::before {
    content: "";
    width: 5px;
    height: 45px;
    background-color: rgb(220, 220, 220);
    border-radius: 2.5px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-60%, -50%, 0);
  }

  &:hover {
    &::before{
      background-color: rgb(200, 200, 200);
    }
  }
}

@media screen and (min-width: $tab) {
  .open_close__btn {
    display: none;
  }
}