@import '../../foundation/variables';

.container {
  width: 67%;
  height: 100%;
  flex-grow: 1;
  overflow-y: scroll;
  position: relative;

  // 背景のメインビュー
  .main_view {
    width: 67%;
    height: 100%;
    z-index: -100;
    position: fixed;

    // 黒い背景 tweenさせるために実要素を置く
    &__bg {
      width: 100%;
      height: 100%;
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgb(0, 0, 0);
      opacity: 0;
    }

    // メイン画像 実際はcanvasに差し替わるのでこれはなくなる
    // div = next/imageによって生成されるラッパー
    div {
      width: 100%;
      height: 100%;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: relative;
      }
    }
  }

  // 仕事内容 （文章とサブ画像
  .work_view {
    margin-top: 100vh;
    width: 100%;
  }
}