@import '../../foundation/variables';

.container {
  width: 67%;
  height: 100%;
  flex-grow: 1;
  overflow-y: scroll;
  position: absolute;
  right: 0;

  // 背景のメインビュー
  .main_view {
    width: 67%;
    height: 100%;
    z-index: -100;
    position: fixed;
    top: 0;
    right: 0;



    // 黒い背景 tweenさせるために実要素を置く
    &__bg {
      width: 100%;
      height: 100%;
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgb(0, 0, 0);
      opacity: 0;
      z-index: 100;
    }

    // メイン画像 実際はcanvasに差し替わるのでこれはなくなる
    // div = next/imageによって生成されるラッパー
    div {
      width: 100%;
      height: 100%;
      position: absolute;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  // 下矢印
  .arrow {
    content: "";
    width: 50px;
    height: 50px;
    background: url(/assets/images/common/arrow.svg);
    background-repeat: no-repeat;
    position: fixed;
    right: 60px;
    bottom: 30px;
    z-index: 10;

  }

  // 仕事内容 （文章とサブ画像
  .work_view {
    margin-top: 100vh;
    width: 100%;
    position: absolute;
    right: 0;
  }
}

@media screen and (max-width: $tab) {
  .container {
    width: 100%;
    .main_view {
      width: 100%;
    }
  }
}