@import '../foundation/variables';

.container {
  margin-left: 70px;
}

.info__block__wrapper {
  height: 110vh;
  position: relative;
}

.info__block {
  display: flex;
  flex-direction: column;
  position: absolute;
  // 中心寄せ (気持ち上めの-60%)
  top: 40%;
  transform: translateY(-50%);

  // 名前
  h1 {
    font-size: 2rem;
  }

  .info__title {
    margin-bottom: 30px;
    text-decoration: underline;
    font-size: 1.5rem;
  }

  ul {
    display: flex;
    flex-direction: column;
    li {
      margin-bottom: 5px;
      span, a {
        font-size: 0.8rem;
      }
    }
  }

  // 全要素（背景色アニメーションさせるもの）の共通スタイル
  h1, h4, span, a {
    display: inline-block;
    position: relative;
    color: white;
    transition: color 0.3s $easeInCirc;
    &::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      background-color: #000;
      z-index: -1;
      transition: width 0.3s $easeInCirc;
    }
    &.show {
      color: #000;
      &::before {
        width: 0;
      }
    }
  }
}
