.masonry__grid {
  display: flex;
  margin-left: -60px; /* 項目間の余白のサイズ */
  width: auto;
}
.masonry__grid__column {
  padding-left: 60px; /* 項目間の余白のサイズ */
  background-clip: padding-box;
  .masonry__item {
    object-fit: cover;
    margin-bottom: 60px;
    position: relative;
    img {
      border-radius: 5px;
      position: relative;  // zIndexを効かせるため
    }
  }
}