.background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: -1;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position:absolute;
  z-index: -1;
  background-color: #f00;
}